<% content_for :topic_intro do %>
    <h2>Pricing</h2>
    <p>Our storage pricing philosophy is simple: You should only pay for space you use. This means you can store just a few items or rent an entire unit, it's totally up to you. Whatever your needs, we have plans to fit them.</p>
<% end %>

<% content_for :main_content do %>
    <table id="pricing">
      <thead>
          <tr>
            <th></th>
            <th class="monthly">Month to Month</th>
            <th class="quarterly">Quarterly</th>
            <th class="annually">Annually</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td class="row-header row-leader">Rental Fees</td>
            <td class="monthly"></td>
            <td class="quarterly"></td>
            <td class="annually"></td>
          </tr>
          <tr>
            <td class="row-leader">First 10 ft <sup>3</sup></td>
            <td class="monthly">$1.50 / ft <sup>3</sup></td>
            <td class="quarterly">$1.25 / ft <sup>3</sup></td>
            <td class="annually">$0.99</td>
          </tr>
          <tr>
            <td class="row-leader">Up to 100 ft <sup>3</sup></td>
            <td class="monthly"> $0.99 / ft <sup>3</sup> </td>
            <td class="quarterly">$0.85 / ft <sup>3</sup></td>
            <td class="annually">$0.67 / ft <sup>3</sup></td>
          </tr>
          <tr>
            <td class="row-leader">Up to 200 ft <sup>3</sup></td>
            <td class="monthly"> $0.50 / ft <sup>3</sup></td>
            <td class="quarterly"> $0.43 /ft <sup>3</sup></td>
            <td class="annually"> $0.34 /ft <sup>3</sup></td>
          </tr>
          <tr>
            <td class="row-leader">Beyond 200 ft <sup>3</sup></td>
            <td class="monthly"> call </td>
            <td class="quarterly"> call </td>
            <td class="annually"> call </td>
          </tr>
          <tr>
            <td class="row-leader">Climate Control</td>
            <td class="monthly"> Available (extra) </td>
            <td class="quarterly"> Available (extra) </td>
            <td class="annually"> Available (extra) </td>
          </tr>
          <tr>
            <td class="row-leader">Billed</td>
            <td class="monthly"> Monthly </td>
            <td class="quarterly"> Quarterly </td>
            <td class="annually"> Annually </td>
          </tr>
          <tr>
            <td class="row-leader">Use Our Boxes</td>
            <td class="monthly highlight"> Take Off 10% </td>
            <td class="quarterly highlight"> Take Off 10% </td>
            <td class="annually highlight"> Take Off 10% </td>
          </tr>
          <tr>
            <td class="row-header row-leader">Transportation Fees</td>
            <td class="monthly"></td>
            <td class="quarterly"></td>
            <td class="annually"></td>
          </tr>
          <tr>
            <td class="row-leader">Pickup</td>
            <td class="monthly">$30 per 15 minutes</td>
            <td class="quarterly"> $25 per 15 minutes</td>
            <td class="annually"> $30 per 15 minutes, <br/> 1st 15 Minutes Free </td>
          </tr>
          <tr>
            <td class="row-leader">Delivery</td>
            <td class="monthly">$30 per 15 minutes</td>
            <td class="quarterly"> $25 per 15 minutes</td>
            <td class="annually"> $30 per 15 minutes, <br/> 1st 15 Minutes Free </td>
          </tr>
          <tr>
            <td class="row-leader">Free Deliveries</td>
            <td class="monthly"></td>
            <td class="quarterly"> 2 items / quarter</td>
            <td class="annually"> 6 items /quarter</td>
          </tr>
          <tr>
            <td class="row-header row-leader">Commercial Storage</td>
            <td class="monthly"></td>
            <td class="quarterly"></td>
            <td class="annually"></td>
          </tr>
          <tr>
            <td class="row-leader">We also do commercial storage, though our rates are a bit different. Call for details.</td>
            <td class="monthly"></td>
            <td class="quarterly"></td>
            <td class="annually"></td>
          </tr>

      </tbody>
    </table>

    <h2>Boxes and Packing Supplies</h2>
    <p>We got 'em. And we give you discounts for using them. Give us a call and we can set you up. Orders typically ship within a day.</p>
<% end %>

<% content_for :sidebar do %>
    <%= render 'forms/form_quote' %>
<% end %>