<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#scheduled_pickups" data-toggle="tab">Pickups</a>
        </li>
        <li>
            <a href="#scheduled_deliveries" data-toggle="tab">Deliveries</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="scheduled_pickups">
      <% @addresses.each do |address| %>
        <ul class="upcoming-service">
          <li class="service-address"><%= address.nickname %></li>
          <% address.orders.active.pickup.each do |order| %>
            <li class="service-date"><%= order.order_date.strftime("%A, %B %d") %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="tab-pane" id="scheduled_deliveries">
        <p>I'm a delivery</p>
    </div>
</div>