<div class="row-fluid">
  <div class="span12">
    <h1>Create Account</h1>
    <p>Getting started with Fifth Room Storage is easy. Just give us a little info and we'll be on our way!</p>
  </div>

  <div class="span12">
    <%= render 'forms/form_user' %>
  </div>

</div>

