<div class="span12">
  <h2>Hi, <%= current_user.first_name %>! </h2>
  <p>Welcome to your account page. From here, you can see items you have in storage, have them delivered, or schedule new pickukps.</p>
</div>

<div class="span8">
  <%= link_to "Request a Pickup", new_order_path, class:"btn btn-danger" %>


</div>
<div class="span4">
  <h3>Upcoming Pickups & Deliveries</h3>

  <% current_user.orders.each do |order| %>
      <%= @address.nickname %><br/>
      <%= order.order_date %>
  <% end %>

</div>






