<% provide(:title, "#{@user.full_name}'s Orders") %>

<h3 class="bottom-margin"><%= @user.full_name %>'s Scheduled Pickups and Deliveries</h3>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#pickups" data-toggle="tab">Scheduled Pickups</a>
    </li>
    <li>
      <a href="#deliveries" data-toggle="tab">Scheduled Deliveries</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="pickups">
      <%= show_user_pickups(@user) %>
      <%= link_to "Schedule Pickup", new_user_order_path(@user), class:"btn btn-danger" %>
    </div>
    <div class="tab-pane" id="deliveries">
      <%= show_user_deliveries(@user) %>
    </div>
  </div>
</div>