<% provide(:title, "#{@user.full_name}'s Saved Addresses") %>

<h3><%= @user.first_name %>'s Saved Addresses</h3>

<%= show_addresses(@user) %>

<%= link_to "Add a new address", new_user_address_path(@user) %>