<div class="row-fluid">
  <h2>Delivery Details</h2>
  <div class="span9 offset3">
    <%= render 'forms/form_order_delivery' %>
    <%= link_to "Back", user_path(current_user), class: "btn btn-danger" %>
  </div>
</div>