<div class="header-form">

  <% if @current_user then %>
      <p>Hi, <%= @current_user.first_name %>! <%= link_to "Not you?", signout_path %> </p>
  <% else %>
    <%= render 'forms/form_inline_signin'%>
  <% end %>
</div>
