@import url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/cupertino/jquery-ui.css);
@import "bootstrap";
body {padding-top: 60px;}
@import "bootstrap-responsive";

.branch-location{
  color:#FF0000;
  padding-top:38px;
  margin-left: 10px;
}

.contact-button{
  margin-bottom:0px;
  margin-left:-40px;
}

footer{
  margin-top:30px;
}

form#new_order{

  .inline{
    display: inline;
  }

}

.hero-unit{

  padding: 30px 30px 10px 0px;
  background-color:#FFF;
  border: 1px solid #e7e7e7;

  h1{
    text-align: center;
    margin-bottom:10px;
  }

}