@import "bootstrap";
body {padding-top: 60px;}
@import "bootstrap-responsive";


.branch-location{
  color:#FF0000;
  padding-top:38px;
  margin-left: 10px;
}

.header-form input, textarea{
  width:170px;
}

.header-form input[type="submit"]{
  width:60px;
  margin-bottom: 9px;
}

.contact-button{
  margin-bottom:5px;
  margin-left:-40px;

}