@import url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css);
body {
  padding-top: 60px;
}

body {
  font-size: 62.5%;

  h2 {
    font-size: 2.4em;
    line-height: 1.333333em;
  }

  h3{
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.4em;
    line-height: 1.111111em;
  }

  h5 {
    font-size: 1.2em;
    line-height: 1.42857143em;
  }

  p {
    font-size: 1.2em;
  }

  a {
    font-size: 1.2em;
  }

  table {

    a {
      font-size: 1em;
    }

    td {
      font-size: 1.4em;
    }

  }

}

.fixed-header-logo{
  img{
    width: 60%;
    padding: 1em;
  }
}

.branch-location{
  color:#FF0000;
  padding-top:38px;
  margin-left: 10px;
}

.contact-button{
  margin-bottom:0px;
  margin-left:-40px;
}

footer{
  margin-top:30px;
}

form#new_order{

  .inline{
    display: inline;
  }

}

.hero-unit{

  padding: 30px 30px 10px 0px;
  background-color:#FFF;
  border: 1px solid #e7e7e7;

  h1{
    text-align: center;
    margin-bottom:10px;
  }

}

#sidebar-quote-form{

  background-color: #ffffff;
  border: solid 1px #e7e7e7;
  border-radius: 4px;
  padding: 20px;
  -moz-box-shadow: inset 0 0 3px 3px #FDFFFB;
  -webkit-box-shadow: inset 0 0 3px 3px #FDFFFB;
  box-shadow: inset 0 0 3px 3px #FDFFFB;


  p{
    font-size: 1.0em;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
  }

  hr {
    margin-top: 10px;
  }

  .form-inline label {
    margin-right: 15px;
  }

  .form-horizontal label {
    margin-top:5px;
  }

}
.no-left-margin{
  margin-left: none !important;
}

div.profile-header{
  color: #000;
  padding-top: 2em;

  p{
    font-size: 1.6em;
  }

  i, a{
    color: #000;
  }

  span{
    float: right;
    margin-left: 0.5em;

    i{
      font-size: 1.6em;
    }
  }
}

