// Place all the styles related to the StorageRental controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {

  .navbar-inner{
    background-color:#f5f5f5;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: -o-linear-gradient(top, #f5f5f5, #f5f5f5);
    background-image: linear-gradient(top, #f5f5f5, #f5f5f5);
  }

  ul.nav li {
    margin-left:10px;
  }

  ul.nav li a{
    color:#2c2c2c;
    font-size: 1.3em;
  }

  ul.nav li a.get-started{
    background-color: #ff0000;
    color:#ffffff;
    background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -ms-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
    background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: linear-gradient(top, #EE5F5B, #BD362F);
  }

  ul.nav li a:hover{
    color:#ff0000;
  }

  ul.nav li a.get-started:hover{
    background-color:#ffffff;
    color:#000;
  }

}

img.icon{
  margin:5px;
}

p.feature{
  margin-top:10px;
}

table#pricing{
  margin-bottom:20px;


  th, td{
    width: 140px;
    text-align: center;
  }

  th{
    padding: 20px;
    font-size:1.4em;
  }

  th.monthly, th.annually{
    background: rgba(162, 162, 162, 0.1);
    box-shadow: inset 0 2px 15px 0 rgba(162, 162, 162, 0.3);
  }

  th.quarterly{
    background: rgba(255, 230, 56, 0.2);
    box-shadow: inset 0px 0px 25px -3px rgba(255, 230, 56, 0.7);
  }

  td.monthly, td.annually{
    padding: 5px 0;
    background: rgba(162, 162, 162, 0.05);
    box-shadow: inset 0 2px 15px 0 rgba(189, 189, 189, 0.04);
  }

  td.quarterly{
    background: rgba(255, 214, 0, 0.14);
    color:#00008b;
  }

  tbody, td{
    border: solid 2px #ffffff;
  }

  td.row-header{
    font-size: 1.2em;
    font-weight: bold;
  }

  td.row-leader{
    background: rgba(162, 162, 162, 0.05);
    padding: 5px 0px 5px 10px;
    width: 280px;
    text-align: left;
  }

  td.highlight{
    color:#ff0000;
  }
}