// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.new_user{
	div{
		margin-top: 1em;
	}

	div.span12{
		margin-top: 2em;
	}
	input[type="text"], input[type="email"], input[type="tel"], input[type="password"]{
		height: 2em;
		font-size: 1.8em;
	}

	.last{
		margin-bottom: 2em;
	}
}