<small>
  <a href="#" target="_blank">Terms and Conditions </a>|
  <a href="#" target="_blank">Privacy Policy</a>

  <p><strong>Questions?</strong> <a href="mailto:service@fifthroomstorage.com">service@fifthroomstorage.com</a> or 404.624.6013 <br>Copyright 2012, Fifth Room Storage, LLC. All rights reserved.</p>
</small>