<div class="logo-navbar">

  <!-- Logo and Login  -->
  <div class="container">
    <div class="row head-margin">
      <div class="span5">
        <%= render 'layouts/header_logo' %>
      </div>
      <div class="span3">
        <h3>Atlanta, GA</h3>
        <h4>404.624.6013</h4>
      </div>
      <div class="span4">
        <%= nav_form_or_menu %>
      </div>
    </div>
  </div>

  <!-- Navbar  -->
  <% unless signed_in? %>
    <%= render partial: 'layouts/single_page_nav' %>
  <% end %>

</div>