<div class="row-fluid">
  <%= render 'layouts/header_logo' %>

  <div class="span3">
    <h1 class="branch-location">Atlanta, GA</h1>
  </div>
  <div class="span5">
    <%= image_tag "header-contact-button.gif", class:"contact-button" %>
    <%= render 'forms/form_header_signin' %>
  </div>
</div>