<% if signed_in? && current_user.admin? %>
    <div class="span4">
      <%= link_to image_tag("logo.gif"), users_path  %>
    </div>
<% elsif signed_in? %>
    <div class="span4">
      <%= link_to image_tag("logo.gif"), user_path(@user)  %>
    </div>
<% else %>
    <div class="span4">
      <%= link_to image_tag("logo.gif"), root_path  %>
    </div>
<% end %>