<div class="row-fluid bottom-margined">
  <div class="span5">
    <%= render 'layouts/header_logo' %>
  </div>
  <div class="span3">
    <h1 class="branch-location"></h1>
  </div>
  <div class="span4 top-margined">
    <%= render 'forms/form_header_signin' %>
  </div>
</div>