<ul class="nav">
  <li><%= link_to "Get Started", signup_path, class:"get-started" %></li>
  <li><%= link_to "How it works", how_it_works_path %></li>
  <li><%= link_to "Pricing", pricing_path %></li>
  <li><%= link_to "FAQ", frequently_asked_questions_path %></li>
</ul>
