<ul class="nav">
  <li><a href="#">How it Works</a></li>
  <li><a href="#">What it Costs</a></li>
  <li><a href="#">Get a Quote</a></li>
  <li><%= link_to "Get Started", signup_path, class:"get-started" %></li>
  <li><a href="#">Read our FAQ</a></li>
  <li><a href="#">Read our Blog</a></li>
  <li class="pull-right"><%= link_to "Sign In", signin_path %></li>
</ul>
